[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "TraMineR"]
	path = TraMineR
	url = https://github.com/cran/TraMineR
[submodule "TraMineRextras"]
	path = TraMineRextras
	url = https://github.com/cran/TraMineRextras
[submodule "seqSHP"]
	path = seqSHP
	url = https://github.com/cran/seqSHP
